<!DOCTYPE html>
<html>

<head>

<meta charset="utf-8" />
<meta http-equiv="content-type" content="text/html; charset=utf-8" />
<meta name="mobile-web-app-capable" content="yes">
<meta name="apple-mobile-web-app-capable" content="yes">
<meta name="application-name" content="Orders">
<meta name="apple-mobile-web-app-title" content="Orders">
<meta name="msapplication-starturl" content="/">
<meta name="msapplication-TileColor" content="#ffffff">
<meta name="msapplication-TileImage" content="ico/ms-icon-144x144.png">
<meta name="theme-color" content="#ffffff">
<meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
<link rel="manifest" href="manifest.webmanifest">
<link rel="apple-touch-icon" sizes="57x57" href="ico/apple-icon-57x57.png">
<link rel="apple-touch-icon" sizes="60x60" href="ico/apple-icon-60x60.png">
<link rel="apple-touch-icon" sizes="72x72" href="ico/apple-icon-72x72.png">
<link rel="apple-touch-icon" sizes="76x76" href="ico/apple-icon-76x76.png">
<link rel="apple-touch-icon" sizes="114x114" href="ico/apple-icon-114x114.png">
<link rel="apple-touch-icon" sizes="120x120" href="ico/apple-icon-120x120.png">
<link rel="apple-touch-icon" sizes="144x144" href="ico/apple-icon-144x144.png">
<link rel="apple-touch-icon" sizes="152x152" href="ico/apple-icon-152x152.png">
<link rel="apple-touch-icon" sizes="180x180" href="ico/apple-icon-180x180.png">
<link rel="icon" type="image/png" sizes="192x192"  href="ico/android-icon-192x192.png">
<link rel="icon" type="image/png" sizes="32x32" href="ico/favicon-32x32.png">
<link rel="icon" type="image/png" sizes="96x96" href="ico/favicon-96x96.png">
<link rel="icon" type="image/png" sizes="16x16" href="ico/favicon-16x16.png">
<link rel="stylesheet" type="text/css" href="material-icons.css" media="screen,projection" />
<link rel="stylesheet" type="text/css" href="materialize.min.css" media="screen,projection" />
<link rel="stylesheet" type="text/css" href="xui.css" media="screen,projection" />
<script type="text/javascript" src="materialize.min.js"></script>
<script type="text/javascript" src="platform.js"></script>
<script type="text/javascript" src="translate.js"></script>
<script type="text/javascript" src="vue.js"></script>
<script type="text/javascript" src="xtr.js"></script>

</head>

<body init>

<div id="app">

<header class="page-header navbar-fixed no-select flow-text">
<nav><div class="nav-wrapper container"><table><tr>
 <td><div class="title">{{tr(d.p.title||d.a.title)}}</div></td>
 <td><ul class="right">
 <li v-for="lang in this.langs" class="right unsigned"><a class="js lang" :onclick="'app.lang(\''+lang+'\')'"><img height="32" width="32" :src="'lang-'+lang+'.svg'"/></a></li>
 <li v-if="d.p.name!='main'" class="nav-signed"><a class="js" onclick="app.showPage()"><i class="material-icons">home</i></a></li>
 <li v-if="d.a.not" class="nav-signed"><a class="js yellow-text" onclick="app.showMsg()">{{d.a.not}}<i class="material-icons right">notifications_active</i></a></li>
 <li v-else class="nav-signed"><a class="js" onclick="app.showPage('msgs')"><i class="material-icons">notifications_none</i></a></li>
 <li class="nav-signed"><a class="js" onclick="app.logout()"><i class="material-icons">exit_to_app</i></a></li>
 </ul></td>
</tr></table></div></nav>
</header>

<div id="page-login" class="page container unsigned">
<form class="card-panel hoverable" onsubmit="try{app.login(this.username.value,this.password.value)}catch(e){app.err(e)};return false">
<div class="caption flow-text no-select center">{{tr('Please log in to start working')}}</div>
<div class="input-field"><input id="login-username" name="username" type="text"/><label for="login-username">{{tr('Username')}}:</label></div>
<div class="input-field"><input id="login-password" name="password" type="password"/><label for="login-password">{{tr('Password')}}:</label></div>
<div class="buttons center"><i class="waves-effect waves-light btn waves-input-wrapper" onclick="document.querySelector('#page-login input[type=\'submit\']').click()">
 <input type="submit" class="waves-button-input" :value="tr('Log in')"/>
</i></div>
</form>
</div>

<div class="page container signed">

<div v-if="d.p.name=='main'" id="page-main">
<div class="card-panel hoverable collection no-wrap flow-text no-select">
<a class="js collection-item" onclick="app.showPageServerData()">
 <span class="bold">{{tr('Data loaded')}}:</span>
 <span class="right">{{d.a.data.ts?fmtdT(d.a.data.ts):tr('No data')}}</span>
</a>
<a class="js collection-item" onclick="app.showSubPage('orders')">
 <span class="bold">{{tr('Orders to export')}}:</span>
 <span class="right">{{d.a.data.doc.filter(d=>!d.nr).length||tr('No data')}}</span>
</a>
<a class="js collection-item" onclick="app.showSubPage('docs')">
 <span class="bold">{{tr('Orders exported')}}:</span>
 <span class="right">{{d.a.data.doc.filter(d=>d.nr).length||tr('No data')}}</span>
</a>
<a class="js collection-item" onclick="app.showSubPage('routes')">
 <span class="bold">{{tr('Routes')}}:</span>
 <span class="right">{{d.a.data.lst.routes&&d.a.data.lst.routes.length||tr('No data')}}</span>
</a>
<a class="js collection-item" onclick="app.showSubPage('clients')">
 <span class="bold">{{tr('Clients')}}:</span>
 <span class="right">{{d.a.data.lst.puncts&&d.a.data.lst.puncts.length||tr('No data')}}</span>
</a>
<a class="js collection-item" onclick="app.showSubPage('products')">
 <span class="bold">{{tr('Products')}}:</span>
 <span class="right">{{d.a.data.lst.products&&d.a.data.lst.products.length||tr('No data')}}</span>
</a>
</div>
</div>

<div v-if="d.p.name=='routes'" id="page-routes">
<div class="collection with-header flow-text no-select">
<div class="collection-header caption right-align">
 <a class="js" onclick="app.showSuperPage()"><i class="material-icons">arrow_upward</i>{{d.p.data.back.title}}</a>
</div>
<a v-for="r in d.a.data.lst.routes" class="js collection-item" :onclick="'app.showSubPage(\'route\','+r.i+')'">{{r.n}}<span class="right">[{{d.a.data.lst.puncts.filter(p=>p.r==r.i).length}}]</span></a>
<div v-if="!d.a.data.lst.routes.length" class="collection-item center">{{tr('No data')}}</div>
</div>
</div>

<div v-if="d.p.name=='route'" id="page-route">
<div class="collection with-header flow-text no-select">
<div class="collection-header caption">
 <a class="js right" onclick="app.showSuperPage()"><i class="material-icons">arrow_upward</i>{{d.p.data.back.title}}</a>
 <span class="left">{{oval(d.a.data.lst.routes.find(p=>p.i==d.p.data.id))}}</span>
</div>
<a v-for="c in d.a.data.lst.puncts.filter(p=>p.r==d.p.data.id)" class="js collection-item row" :onclick="'app.showSubPage(\'client\','+c.i+')'">{{c.i}}: {{c.n}}</a>
<div v-if="!d.a.data.lst.puncts.filter(p=>p.r==d.p.data.id).length" class="collection-item center">{{tr('No data')}}</div>
</div>
</div>

<div v-if="d.p.name=='clients'" id="page-clients">
<div class="collection with-header flow-text no-select">
<div class="collection-header caption">
 <a :class="d.p.data&&d.p.data.back?'js right':null" :onclick="d.p.data&&d.p.data.back?'app.showSuperPage()':null"><i v-if="d.p.data&&d.p.data.back" class="material-icons">arrow_upward</i>{{d.p.data&&d.p.data.back?d.p.data.back.title:'&nbsp;'}}</a>
 <span v-if="d.p.data.id" class="left">{{oval(d.a.data.lst.puncts.find(p=>p.i==d.p.data.id))}}</span>
</div>
<div v-for="c in d.a.data.lst.puncts.filter(p=>d.p.data?(p.p==d.p.data.id):!p.p)" class="collection-item row">
<a class="js col s12 l6" :onclick="'app.showSubPage(\'client\','+c.i+')'">{{c.i}}: {{c.n}}</a>
<a v-if="d.a.data.lst.puncts.filter(p=>p.p==c.i).length" class="js col s12 l6 right-align" :onclick="'app.showSubPage(\'clients\','+c.i+')'">[{{d.a.data.lst.puncts.filter(p=>p.p==c.i).length}}]</a>
</div>
<div v-if="!d.a.data.lst.puncts.filter(p=>d.p.data?(p.p==d.p.data.id):!p.p).length" class="collection-item center">{{tr('No data')}}</div>
</div>
</div>

<div v-if="d.p.name=='client'" id="page-client">
<div class="collection with-header flow-text no-select"
 :js1="(d.t.PO=d.a.data.lst.orders?d.a.data.lst.orders.filter(p=>p.pt==d.p.data.id&&!d.a.data.doc.find(o=>o.po==p.i)):[])&&null"
 :js2="(d.t.OO=d.a.data.doc.filter(o=>o.pt==d.p.data.id&&!o.nr))&&null"
 :js3="(d.t.SO=d.a.data.doc.filter(o=>o.pt==d.p.data.id&&o.nr))&&null">
<div class="collection-header caption">
 <a class="js right" onclick="app.showSuperPage()"><i class="material-icons">arrow_upward</i>{{d.p.data.back.title}}</a>
 <span class="left">{{d.p.data.punct.n}}</span>
</div>
<div v-if="d.p.data.punct.addr_fact" class="collection-item wide row">
 <div class="col s12 l6 caption">{{tr('Actual address')}}:</div>
 <div class="col s12 l6">{{d.p.data.punct.addr_fact}}</div>
</div>
<div v-if="d.p.data.punct.address" class="collection-item wide row">
 <div class="col s12 l6 caption">{{tr('Formal address')}}:</div>
 <div class="col s12 l6">{{d.p.data.punct.address}}</div>
</div>
<div v-if="d.p.data.punct.telefon||d.p.data.punct.telprim" class="collection-item wide row">
 <div class="col s12 l6 caption">{{tr('Phone number')}}:</div>
 <div class="col s12 l6">{{d.p.data.punct.telefon}} {{d.p.data.punct.telefon&&d.p.data.punct.telprim&&'/'}} {{d.p.data.punct.telprim}}</div>
</div>
<div v-if="d.p.data.punct.director" class="collection-item wide row">
 <div class="col s12 l6 caption">{{tr('Director')}}:</div>
 <div class="col s12 l6">{{d.p.data.punct.director}}</div>
</div>
</div>
<div v-if="d.t.PO.length" class="collection with-header flow-text no-select">
<div class="collection-header caption">{{tr('Pre-Orders')}}</div>
<a v-for="o in d.t.PO" class="js collection-item wide row" :onclick="'app.newOrder('+o.i+')'">
 <div class="col s3 l2 right-align">#{{o.i}}:&nbsp;</div>
 <div class="col s3 l2">{{fmtd(o.dt)}}</div>
 <div class="col s6 l8">{{o.tp&&oval(d.a.data.lst.doctypes.find(t=>t.i==o.tp))}}</div>
</a>
</div>
<div class="collection with-header flow-text no-select">
<div class="collection-header caption">{{tr('Orders to export')}}
 <a class="js waves-effect waves-light btn right" onclick="app.newOrder()"><i class="material-icons">add</i></a>
</div>
<a v-for="o in d.t.OO" class="js collection-item wide row" :onclick="'app.showOrder('+o.id+')'">
 <div class="col s3 l2 right-align"><i class="material-icons left">{{o.ready?'check_box':'check_box_outline_blank'}}</i>#{{o.id}}:&nbsp;</div>
 <div class="col s3 l2">{{fmtd(o.dt)}}</div>
 <div class="col s6 l8">{{o.tp&&oval(d.a.data.lst.doctypes.find(t=>t.i==o.tp))}}</div>
</a>
<div v-if="!d.t.OO.length" class="collection-item center">{{tr('No data')}}</div>
</div>
<div v-if="d.t.SO.length" class="collection with-header flow-text no-select">
<div class="collection-header caption">{{tr('Orders exported')}}</div>
<a v-for="o in d.t.SO" class="js collection-item wide row" :onclick="'app.showOrder('+o.id+')'">
 <div class="col s3 l2 right-align">#{{o.nr}}:&nbsp;</div>
 <div class="col s3 l2">{{fmtd(o.dt)}}</div>
 <div class="col s6 l8">{{o.tp&&oval(d.a.data.lst.doctypes.find(t=>t.i==o.tp))}}</div>
</a>
</div>
</div>

<div v-if="d.p.name=='products'" id="page-products">
<div class="collection with-header flow-text no-select"
 :js1="(d.t.GG=d.a.data.lst.groups.filter(g=>g.p==(d.p.data.id||0)))&&null"
 :js2="(d.t.PP=d.a.data.lst.products.filter(p=>p.gr==d.p.data.id))&&null">
<div class="collection-header caption right-align">
 <a :class="d.p.data&&d.p.data.back?'js':null" :onclick="d.p.data&&d.p.data.back?'app.showSuperPage()':null"><i v-if="d.p.data&&d.p.data.back" class="material-icons">arrow_upward</i>{{d.p.data&&d.p.data.back?d.p.data.back.title:'&nbsp;'}}</a>
</div>
<div v-if="d.t.GG.length" class="collection-group last row">
 <div class="col s12 l6 center bold">{{tr('Groups')}}</div>
 <div class="col s4 l2 right-align">[{{tr('subgroups')}}]</div>
 <div class="col s4 l2 right-align">[{{tr('products')}}]</div>
 <div class="col s4 l2 right-align">[{{tr('total')}}]</div>
</div>
<a v-for="g in d.t.GG" class="js collection-item wide row" :onclick="'app.showSubPage(\'products\','+g.i+')'">
 <div class="col s12 l6">[{{g.n}}]</div>
 <div class="col s4 l2 right-align">{{g.cg&&('['+g.cg+']')}}</div>
 <div class="col s4 l2 right-align">{{g.cp&&('['+g.cp+']')}}</div>
 <div class="col s4 l2 right-align">{{g.cpp&&('['+g.cpp+']')}}</div>
</a>
<div v-if="d.t.GG.length&&d.t.PP.length" class="collection-group center bold">{{tr('Products')}}</div>
<div v-for="p in d.t.PP" class="collection-item wide row">
 <div class="col s12 l8">{{p.i}}: {{p.n}}</div>
 <div class="col s8 l2 right-align">{{p.cant?'x':''}} {{p.cant||''}}</div>
 <div class="col s4 l2">&nbsp;({{p.um}})</div>
</div>
<div v-if="!d.t.GG.length&&!d.t.PP.length" class="collection-item center">{{tr('No data')}}</div>
</div>
</div>

<div v-if="d.p.name=='docs'" id="page-docs">
<div class="collection with-header flow-text no-select"
 :js1="(d.t.OO=d.a.data.doc.filter(o=>o.nr))&&null">
<div class="collection-header caption right-align">
 <a :class="d.p.data&&d.p.data.back?'js':null" :onclick="d.p.data&&d.p.data.back?'app.showSuperPage()':null"><i v-if="d.p.data&&d.p.data.back" class="material-icons">arrow_upward</i>{{d.p.data&&d.p.data.back?d.p.data.back.title:'&nbsp;'}}</a>
</div>
<a v-for="o in d.t.OO" class="js collection-item wide row" :onclick="'app.showOrder('+o.id+')'">
 <div class="col s3 l2 right-align">#{{o.id}}:&nbsp;</div>
 <div class="col s3 l2">{{o.nr}}, {{fmtd(o.dt)}}</div>
 <div class="col s6 l8">{{oval(d.a.data.lst.puncts.find(p=>p.i==o.pt))}}</div>
</a>
<div v-if="!d.t.OO.length" class="collection-item center">{{tr('No data')}}</div>
</div>
</div>

<div v-if="d.p.name=='orders'" id="page-orders">
<div class="collection with-header flow-text no-select"
 :js1="(d.t.OO=d.a.data.doc.filter(o=>!o.nr))&&null"
 :js2="(d.t.OR=d.t.OO.filter(o=>o.ready))&&null">
<div class="collection-header caption right-align">
 <a :class="d.p.data&&d.p.data.back?'js':null" :onclick="d.p.data&&d.p.data.back?'app.showSuperPage()':null"><i v-if="d.p.data&&d.p.data.back" class="material-icons">arrow_upward</i>{{d.p.data&&d.p.data.back?d.p.data.back.title:'&nbsp;'}}</a>
</div>
<a v-for="o in d.t.OO" class="js collection-item wide row" :onclick="'app.showOrder('+o.id+')'">
 <div class="col s3 l2 right-align"><i class="material-icons left">{{o.ready?'check_box':'check_box_outline_blank'}}</i>#{{o.id}}:&nbsp;</div>
 <div class="col s3 l2">{{fmtd(o.dt)}}</div>
 <div class="col s6 l8">{{oval(d.a.data.lst.puncts.find(p=>p.i==o.pt))}}</div>
</a>
<div v-if="!d.t.OO.length" class="collection-item center">{{tr('No data')}}</div>
</div>
<div v-if="d.t.OR.length">
 <span class="flow-text caption" style="margin-left:24px">{{tr('Orders ready')}}:</span>
 <span class="flow-text bold accent-fg" style="margin-left:12px">{{d.t.OR.length}}</span>
 <a class="js waves-effect waves-light btn right accent-bg hoverable" onclick="app.dbExport()">{{tr('Export')}}</a>
</div>
</div>

<div v-if="d.p.name=='order'" id="page-order">
<div class="collection with-header flow-text no-select"
 :js1="(d.t.D=new Date(d.p.data.date))&&null"
 :js2="(d.p.data.ex&&(d.t.E=new Date(d.p.data.ex)))&&null"
 :js3="(d.t.N=new Date(curD()))&&null"
 :js4="(d.t.O=Math.floor((d.t.D-d.t.N)/86400000))&&null"
 :js5="(d.t.E&&(d.t.En=Math.floor((d.t.E-d.t.N)/86400000)))&&null"
 :js6="(d.t.P=docpp())&&null">
<div class="collection-header caption">
 <div v-if="d.p.data.nrdoc" class="left">#{{d.p.data.nrdoc}}</div>
 <div v-else-if="d.p.data.po" class="left">#{{d.p.data.po}}</div>
 <a class="js right" onclick="app.showSuperPage()"><i class="material-icons">arrow_upward</i>{{d.p.data.back.title}}</a>
</div>
<div v-if="oval(d.a.data.lst.doctypes,'length')" class="collection-item wide row">
 <div class="col s12 l6 caption">{{tr('Order type')}}:</div>
 <div class="col s12 l6 right-align">
  <span>{{d.p.data.type&&oval(d.a.data.lst.doctypes.find(t=>t.i==d.p.data.type))}}</span>
  <a v-if="!d.p.data.nrdoc" class="js waves-effect waves-light btn icon" onclick="app.editDocType()"><i class="material-icons">dehaze</i></a>
 </div>
</div>
<div class="collection-item wide row">
 <div class="col s8 l6 caption">{{tr('Delivery date')}}:</div>
 <div class="col s4 l2">({{d.t.O>1?('+'+d.t.O+' '+tr('days')):d.t.O==1?tr('tomorrow'):d.t.O==0?tr('today'):tr('expired')}})</div>
 <div class="col s12 l4 right-align">
  <a v-if="!d.p.data.nrdoc&&d.t.O>0" class="js waves-effect waves-light btn icon" onclick="app.orderPrevDate()"><i class="material-icons">exposure_neg_1</i></a>
  <span>&nbsp;{{fmtD(d.t.D)}}&nbsp;</span>
  <a v-if="!d.p.data.nrdoc" class="js waves-effect waves-light btn icon" onclick="app.orderNextDate()"><i class="material-icons">exposure_plus_1</i></a>
 </div>
</div>
<div v-if="d.t.E" class="collection-item wide row">
 <div class="col s8 l6 caption">{{tr('Expiration date')}}:</div>
 <div class="col s4 l2">({{d.t.En>1?('+'+d.t.En+' '+tr('days')):d.t.En==1?tr('tomorrow'):d.t.En==0?tr('today'):tr('expired')}})</div>
 <div class="col s12 l4 right-align">
  <span>&nbsp;{{fmtD(d.t.E)}}&nbsp;</span>
 </div>
</div>
</div>
<div v-if="!d.p.data.nrdoc" class="right-align">
 <label v-if="d.p.data.id" class=" flow-text left" style="margin-left:10px">
  <input type="checkbox" class="filled-in" :checked="d.p.data.ready" />
  <span class="caption" style="font-size:revert" onclick="app.toggleOrderReady()">{{tr('Ready to export')}}</span>
 </label>
 <span style="white-space:nowrap">
  <a v-if="!d.p.data.id" class="js waves-effect waves-light btn" onclick="app.createOrder()">{{tr('Create')}}</a>
  <a v-if="!d.p.data.id" class="js waves-effect waves-light btn accent-bg hoverable" onclick="app.createOrder(1)">{{tr('Create and close')}}</a>
  <a v-if="d.p.data.id" class="js waves-effect waves-light btn" onclick="app.saveOrder()">{{tr('Save')}}</a>
  <a v-if="d.p.data.id" class="js waves-effect waves-light btn accent-bg hoverable" onclick="app.saveOrder(1)">{{tr('Save and close')}}</a>
 </style>
</div>
<div class="collection with-header flow-text no-select">
<div class="collection-header caption">{{tr('Products')}}
 <a v-if="!d.p.data.nrdoc" class="js waves-effect waves-light btn right" onclick="app.addProducts()"><i class="material-icons">add</i></a>
</div>
<a v-for="p in d.t.P" :class="p.g?'collection-group center':'js collection-item wide row'"
  :onclick="p.g||d.p.data.nrdoc?null:'app.editProductQty('+p.i+')'">
 <div v-if="p.g" class="collection-group center bold">{{p.n}}</div>
 <div v-if="!p.g" class="col s12 l9">{{p.i}}: {{p.n}}</div>
 <div v-if="!p.g" class="col s4 l1 right-align bold accent-fg">{{p.q}}</div>
 <div v-if="!p.g" class="col s4 l1 right-align">{{p.cant?'x':''}} {{p.cant||''}}</div>
 <div v-if="!p.g" class="col s4 l1">&nbsp;({{p.um}})</div>
</a>
<div v-if="!d.t.P.length" class="collection-item center">{{tr('No data')}}</div>
</div>
<div v-if="d.p.data.id&&!d.p.data.nrdoc" class="right-align">
 <a class="js waves-effect waves-light btn accent-bg hoverable" onclick="app.deleteOrder()">{{tr('Delete')}}</a>
</div>
</div>

<div v-if="d.p.name=='msgs'" id="page-msgs">
<div v-if="d.a.data.msg&&d.a.data.msg.length" class="card-panel hoverable no-wrap flow-text no-select list">
<div v-for="m in d.a.data.msg" class="row">
 <div class="col s12 l4 caption">{{m.id}} ({{fmtdT(m.ts)}})</div>
 <div class="col s1 l1 caption"><i v-if="!m.read" class="material-icons yellow-text">notifications_active</i></div>
 <div class="col s9 l6"><a class="js" role="button" :onclick="'app.showMsg('+m.id+')'">{{m.t}}</a></div>
 <div class="col s2 l1 right-align"><a v-if="!m.ok" class="js waves-effect waves-light btn" :onclick="'app.deleteMsg('+m.id+')'"><i class="material-icons">delete</i></a></div>
</div>
</div>
<div v-else class="card-panel hoverable no-wrap flow-text no-select caption fallback">{{tr('No data')}}</div>
</div>

<div v-if="d.p.name=='serverdata'" id="page-serverdata">
<div class="collection with-header flow-text no-select"
 :js1="(d.t.N=d.p.data.node||d.a.data.lst)?null:null"
 :js2="(d.t.a=Array.isArray(d.t.N))?null:null"
 :js3="(d.t.A=d.t.a?d.t.N:Object.keys(d.t.N))&&null"
 :js4="(d.t.r=!d.t.a||typeof d.t.N[0].i=='number')&&null||null"
>
<div class="collection-header caption">
 <a class="js right" onclick="app.showSuperPage()"><i class="material-icons">arrow_upward</i>{{oval(d.p.data.back.data,'title')||oval(d.p.data.back,'title')}}</a>
 <div class="left">{{d.p.data.path}}</div>
</div>
<div v-if="d.p.data.path=='/'" class="collection-item" style="overflow:hidden">
 <span class="caption">{{tr('Data loaded')}}:</span>
 <span class="right">{{d.a.data.ts?fmtdT(d.a.data.ts):tr('No data')}} <a class="js waves-effect waves-light btn accent-bg hoverable" onclick="app.dbRefresh()">{{tr('Refresh')}}</a></span>
</div>
<a v-for="(n,i) in d.t.A" class="js collection-item" :class="{row:d.t.r}"
 :js1="(d.t.n=d.t.a?n:d.t.N[n])&&null||null"
 :js2="(d.t.l=typeof d.t.n=='object')&&null||null"
 :onclick="d.t.l?('app.showPageServerData('+(d.t.a?i:'\''+n+'\'')+')'):null">
 <span v-if="!d.t.r">{{d.t.n}}</span>
 <div v-if="d.t.r" class="col s3" :class="{'right-align':d.t.a}">{{d.t.a?n.i:n}}:</div>
 <div v-if="d.t.r" class="col s9" :class="{'right-align':!d.t.a}">{{Array.isArray(d.t.n)?('['+d.t.n.length+']'):d.t.l?(d.t.n.n||d.t.n[Object.keys(d.t.n)[1]]):d.t.n}}</div>
</a>
<div v-if="!d.t.A.length" class="collection-item center">{{tr('No data')}}</div>
</div>
</div>

<div v-if="d.p.name=='setup'" id="page-setup">
<div class="card-panel hoverable no-wrap flow-text no-select">
<div class="row">
 <div class="col s12 l4 caption">{{tr('Current user')}}:</div>
 <div class="col s12 l4">{{this.app.username}}</div>
 <div class="col s12 l4 buttons"><a class="js waves-effect waves-light btn" onclick="app.chgpwd()">{{tr('Change password')}}</a></div>
</div>
<div class="row">
 <div class="col s12 l4 caption">{{tr('Current session')}}:</div>
 <div class="col s12 l4">{{session()}}</div>
 <div class="col s12 l4 buttons">&nbsp;</div>
</div>
<div class="row">
 <div class="col s12 l4 caption">{{tr('Network timeout limit')}}:</div>
 <div class="col s12 l4">{{timeout()}} {{tr('sec.')}}</div>
 <div class="col s12 l4 buttons"><a class="js btn" onclick="app.modifyTimeout()">{{tr('Modify')}}</a></div>
</div>
<div class="row">
 <div class="col s12 l4 caption">{{tr('Chosen language')}}:</div>
 <div class="col s12 l4">{{tr({en:'English',ru:'Russian',ro:'Romanian'}[app.vm.lang()])}}</div>
 <div class="col s12 l4 buttons">
  <a class="js btn lang" v-for="lang in this.langs" :onclick="'app.lang(\''+lang+'\')'"><img height="32" width="32" :src="'lang-'+lang+'.svg'"/></a>
 </div>
</div>
<div v-if="backuped()" class="row">
 <div class="col s12 l4 caption">{{tr('Local data stored')}}</div>
 <div class="col s12 l8 buttons"><a class="js btn" onclick="localStorage.clear()||app.vm.$forceUpdate()">{{tr('Clear local storage')}}</a></div>
</div>
<div v-else class="row">
 <div class="col s12 l4 caption">{{tr('Local data not stored')}}</div>
 <div class="col s12 l8 buttons"><a class="js btn" onclick="app.backup()||app.vm.$forceUpdate()">{{tr('Store local data')}}</a></div>
</div>
<div v-if="installed()" class="row">
 <div class="col s12 l6 caption">{{tr('Application installed')}}</div>
 <div class="col s12 l6 buttons"><a class="js btn" onclick="app.uninstall()">{{tr('Uninstall')}}</a></div>
</div>
<div v-else class="row">
 <div class="col s12 l6 caption">{{tr('Application not installed')}}</div>
 <div class="col s12 l6 buttons"><a class="js btn" onclick="app.install()">{{tr('Install')}}</a></div>
</div>
</div>
</div>

<div class="fixed-action-btn no-select signed">
<a class="btn-floating btn-large"><i class="large material-icons">menu</i></a>
<ul>
<li><a class="btn-floating accent-bg hoverable" onclick="app.showPage('orders')"><i class="material-icons">note_add</i></a></li>
<li><a class="btn-floating" onclick="app.showPage('docs')"><i class="material-icons">note</i></a></li>
<li><a class="btn-floating" onclick="app.showPage('msgs')"><i :class="'material-icons'+(d.a.not?' yellow-text':'')">mail</i></a></li>
<li><a class="btn-floating" onclick="app.showPage('setup')"><i class="material-icons">settings</i></a></li>
</ul>
</div>

</div>

<div id="modal-msgbox" class="modal">
 <div class="modal-content flow-text">
  <div class="caption center">{{d.m.msgbox.caption}}</div>
  <div>{{d.m.msgbox.text}}</div>
 </div>
 <div class="modal-footer">
  <a class="js waves-effect waves-light btn modal-close accent-bg hoverable" onclick="app.vm.d.m.msgbox.ok=true">OK</a>
  <a v-if="d.m.msgbox.ok!=null" class="js waves-effect waves-light btn modal-close">{{tr('Cancel')}}</a>
 </div>
</div>

<div id="modal-chgpwd" class="modal">
 <div class="modal-header flow-text caption">{{tr('Change password')}}</div>
 <div class="modal-content flow-text">
  <div class="caption">{{tr('Enter a new password')}}:</div>
  <div class="input-field"><input id="change-password-1" type="password"/><label for="change-password-1">{{tr('Password')}}:</label></div>
  <div class="input-field"><input id="change-password-2" type="password"/><label for="change-password-2">{{tr('Password')}}:</label></div>
 </div>
 <div class="modal-footer">
  <a class="js waves-effect waves-light btn modal-close" onclick="app.vm.d.m.chgpwd.ok=true">OK</a>
 </div>
</div>

<div id="modal-query" class="modal">
 <div class="modal-header flow-text caption">{{d.m.query.caption}}</div>
 <div class="modal-content flow-text">
  <div style="white-space:pre;overflow:auto">{{d.m.query.status}}</div>
  <div class="right-align">{{tr('Waiting time')}}: {{d.m.query.time}} {{tr('sec.')}}</div>
 </div>
 <div class="modal-footer">
  <a v-if="d.m.query.ok" class="js waves-effect waves-light btn modal-close">OK</a>
  <a v-else class="js waves-effect waves-light btn modal-close">{{tr('Cancel')}}</a>
 </div>
</div>

<div id="modal-products" class="modal" style="max-height:90%;min-width:80%">
 <div class="modal-header flow-text caption last row"
   :js1="(d.m.products.G=d.m.products.g&&d.a.data.lst.groups.find(g=>g.i==d.m.products.g))&&null"
   :js2="(d.m.products.p=d.m.products.G&&d.m.products.G.p)&&null"
   :js3="(d.m.products.P=d.m.products.p&&d.a.data.lst.groups.find(g=>g.i==d.m.products.p))&&null"
   :js4="(d.m.products.GG=d.a.data.lst.groups?d.a.data.lst.groups.filter(g=>g.cpp&&g.p==(d.m.products.g||0)):[])&&null"
   :js5="(d.m.products.PP=d.a.data.lst.products?d.a.data.lst.products.filter(p=>p.gr==(d.m.products.g||0)):[])&&null">
  <span class="col s12 l6 left-align">{{oval(d.m.products.G,'n','All products',1)}}</span>
  <a v-if="d.m.products.g" class="js col s12 l6 right-align" :onclick="'app.vm.d.m.products.g=app.vm.d.m.products.p'">
   <i class="material-icons">arrow_upward</i>{{oval(d.m.products.P,'n','All products',1)}}
  </a>
 </div>
 <div v-if="d.p.name=='order'" class="modal-content flow-text">
  <div class="collection flow-text no-select" style="margin:0">
   <div v-if="d.m.products.GG.length&&d.m.products.PP.length" class="collection-group center bold">{{tr('Groups')}}</div>
   <a v-for="g in d.m.products.GG" class="js collection-item wide row"
    :onclick="'app.vm.d.m.products.g='+g.i">
    <div class="col s8 l10 bold">{{g.n}}</div>
    <div class="col s4 l2 right-align">[{{g.cpp}}]</div>
   </a>
   <div v-if="d.m.products.GG.length&&d.m.products.PP.length" class="collection-group center bold">{{tr('Products')}}</div>
   <a v-for="p in d.m.products.PP" class="js collection-item wide row"
    :onclick="'app.editProductQty('+p.i+')'">
    <div class="col s12 l6">{{p.i}}: {{p.n}}</div>
    <div class="col s4 l2 right-align bold accent-fg">{{oval(d.p.data.products.find(t=>t.i==p.i),'q')}}</div>
    <div class="col s4 l2 right-align">{{p.cant?('x '+p.cant):''}}</div>
    <div class="col s4 l2">&nbsp;({{p.um}})</div>
   </a>
   <div v-if="!d.m.products.GG.length&&!d.m.products.PP.length" class="collection-item center">{{tr('No data')}}</div>
  </div>
 </div>
 <div class="modal-footer">
  <a class="js waves-effect waves-light btn modal-close">{{tr('Close')}}</a>
 </div>
</div>

<div id="modal-quantity" class="modal">
 <div class="modal-header flow-text caption">{{oval(d.m.qty.P,'n')}}</div>
 <div class="modal-content flow-text">
  <div class="caption">{{tr('Enter product quantity')}}:</div>
  <div class="last row">
   <div class="input-field col s12 l6" style="margin:0">
    <input id="input-quantity" type="number" class="bold accent-fg right-align" style="margin:0;font-size:inherit" :value="d.m.qty.cant"/>
    <label for="input-quantity">{{tr('Quantity')}}:</label>
   </div>
   <div class="col s6 l3" style="line-height:3rem">{{d.m.qty.P&&d.m.qty.P.cant?('x '+d.m.qty.P.cant):'&nbsp;'}}</div>
   <div class="col s6 l3 right-align" style="line-height:3rem">{{d.m.qty.P&&d.m.qty.P.um?('('+d.m.qty.P.um+')'):'&nbsp;'}}</div>
  </div>
 </div>
 <div class="modal-footer">
  <a class="js waves-effect waves-light btn modal-close accent-bg hoverable" onclick="app.setProductQty()">OK</a>
  <a class="js waves-effect waves-light btn modal-close">{{tr('Cancel')}}</a>
 </div>
</div>

<div id="modal-doctypes" class="modal">
 <div class="modal-header flow-text caption">{{tr('Choose')}} {{tr('Order type')}}</div>
 <div class="modal-content flow-text">
  <div class="collection">
   <a v-for="t in d.a.data.lst.doctypes" class="js collection-item" :class="t.i==oval(d.p.data,'type')?'caption':null" :onclick="'app.setDocType('+t.i+')'">{{t.n}}</a>
   <div v-if="!oval(d.a.data.lst.doctypes,'length')" class="collection-item">{{tr('No data')}}</div>
  </div>
 </div>
 <div class="modal-footer">
  <a class="js waves-effect waves-light btn modal-close">{{tr('Cancel')}}</a>
 </div>
</div>

</div>

<script type="text/javascript" src="xui.js"></script>

</body>

</html>
