body[init] {opacity:0}
body {opacity:1;transition:opacity 1s}

/* explicit colors */
:root {
--color-white:#fff;--color-black:#000;--color-dark-grey:#888;
--color-blue:#08f;--color-light-blue:#2af;
--color-red:#e44;--color-light-red:#f66;
--color-bg:#ffe;--color-fg:#004;
--color-head:#d84;--color-ctrl:#26a69a;
--color-accent:#a40;--color-accent2:#e40;
--color-blocked-bg:#fcc;--color-blocked-fg:#f00;
}

/* implicit colors */
:root {
--color-navi-bg:var(--color-ctrl);
--color-navi-fg:var(--color-white);
--color-head-bg:var(--color-head);
--color-head-fg:var(--color-white);
--color-item-bg:var(--color-white);
--color-item-fg:var(--color-black);
--color-href-fg:var(--color-ctrl);
}

body
{background-color:var(--color-bg);color:var(--color-fg)}

.accent-fg {color:var(--color-accent)}
.accent-bg,.accent-bg:hover:not(.hoverable) {background-color:var(--color-accent)}
.accent-bg.hoverable:hover {background-color:var(--color-accent2)}

.blocked-fg {color:var(--color-blocked-fg) !important}
.blocked-bg,.blocked-bg:hover:not(.hoverable) {background-color:var(--color-blocked-bg) !important}

#app>header,#app>footer,.collection .collection-group
{background-color:var(--color-navi-bg);color:var(--color-navi-fg)}

nav {background-color:inherit}

a {color:var(--color-ctrl)}

.caption {color:var(--color-ctrl);font-weight:bold}
form input[type="submit"] {color:var(--color-navi-fg);cursor:pointer}
form input[type="submit"]:focus-visible {outline:inherit;color:yellow;botder:1px solid black}

.collection.with-header .collection-header, .modal .modal-header
{background-color:var(--color-head-bg);color:var(--color-head-fg)}
.collection.with-header .collection-header a, .modal .modal-header a
{color:var(--color-head-fg)}
.collection .collection-item
{background-color:var(--color-item-bg);color:var(--color-item-fg)}
.collection a.collection-item
{background-color:var(--color-item-bg);color:var(--color-href-fg)}

/* radius */
:root {
--collection-radius:1em;
--button-radius:1em;
--modal-radius:1em;
}

.modal
{border-radius:var(--modal-radius)}

.collection.with-header
{border-radius:var(--collection-radius)}
.collection.with-header .collection-header:first-child
{border-radius:var(--collection-radius) var(--collection-radius) 0 0}
.collection.with-header .collection-item:last-child
{border-radius:0 0 var(--collection-radius) var(--collection-radius)}

.collection .collection-item,.collection.with-header .collection-item {padding:10px}

.row .col {overflow:hidden;text-overflow:ellipsis}

.row.low,.collection .collection-item.low,.collection .collection-group.low,
.collection.with-header .collection-item.low,.collection.with-header .collection-header.low {padding-top:2px;padding-bottom:2px;margin-bottom:0}

.wide.row,.collection.with-header .collection-item.wide,.collection.with-header .collection-header.wide {padding-left:5px;padding-right:5px}
.wide.row .col {padding:0}
.last.row {margin-bottom:0}


a.js[onclick] {cursor:pointer}
a.js[onclick]:hover {text-decoration:underline}

a[role=button] {cursor:pointer;transition:color 0.3s}
a[role=button]:hover {color:crimson}

.btn
{border-radius:var(--button-radius)}


.bold {font-weight:bold}

body[searching] .no-select {-webkit-user-select:auto;-moz-user-select:auto;-ms-user-select:auto;user-select:auto}
body[searching] .no-searching {display:none}
body:not([searching]) .searching {display:none}
body[searching] .modal.searching {display:initial}

.btn.icon {padding:0 8px}

.collection .collection-item {line-height:initial}
.collection.with-header .collection-header {overflow:hidden}
.collection.with-header .collection-header a {text-decoration:underline}


body:not([signed]) .signed, body[signed] .unsigned {display:none}

@media only screen and (min-width: 993px) {.container {width:900px}}
@media only screen and (min-width: 1201px) {.container {width:75%}}

.modal .modal-header {z-index:1;position:sticky;top:0;line-height:2em;padding:0 1em;text-align:center}
.modal .modal-footer {z-index:1;position:sticky;bottom:0;height:4.5em;text-align:center}
.modal .modal-content {max-height:50vh;overflow-y:auto}
.no-wrap {overflow:hidden;white-space:nowrap}

#dialog-search {position:fixed;bottom:0;width:100%;border-radius:0}
#dialog-search td.text {padding:0 5px}
#dialog-search td.small {width:40px;padding:0 2px;text-align: center}
#dialog-search .input-field {margin:0.8rem 0 0;}
#dialog-search .input-field input {margin-bottom:0}
#dialog-search .btn {padding:0 8px}

.page-header nav {overflow:hidden}
.page-header table tr {border-width:0}
.page-header table td {padding:0;vertical-align:top}
@media only screen and (max-width: 992px) {.page-header nav ul a {padding:0 10px}}
@media only screen and (max-width: 600px) {.page-header nav ul a {padding:0 5px}}

.page-header .nav-signed i {overflow:hidden}
body:not([signed]) .page-header .nav-signed i {width:0}

.page-header a.lang {padding:12px 2px}
@media only screen and (min-width: 601px) {.page-header a.lang {padding:16px 4px}}
.page-header a.lang img {display:block;border-radius:16px}

#page-login form {display:table;margin:20vh auto}

#page-main .card-panel {margin:10vh auto}
#page-main .card-panel a {overflow:hidden}
@media only screen and (max-width: 992px) {#page-main .card-panel a {padding:10px 0}}

#page-report_debts .row {font-size:0.8em}
@media only screen and (max-width: 992px) {#page-report_debts .row {font-size:0.6em}}

#page-msgs .card-panel.list {margin:10vh auto}
#page-msgs .card-panel.fallback {display:table;margin:30vh auto}

#page-setup .card-panel {margin:10vh auto}
#page-setup .buttons {text-align:center;padding:5px}
#page-setup .buttons a.lang {margin:0 4px}
#page-setup .buttons a.lang img {border-radius:16px;margin:2px auto}
@media only screen and (min-width: 601px) {#page-setup .buttons {text-align:right}}

